<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Project Name</label>
          <input type="text" class="form-control" formControlName="name" #name />
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Project Desc</label>
          <textarea class="form-control" formControlName="desc" #desc rows="5" cols="10"></textarea>
        </div>
        <div *ngIf="angForm.controls['desc'].invalid && (angForm.controls['desc'].dirty || angForm.controls['desc'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['desc'].errors.required">
            Project Description is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Project Start Date</label>
          <input type="date" class="form-control" formControlName="startdate" #startdate />
        </div>
        <div class="form-group">
          <label class="col-md-4">Project End Date</label>
          <input type="date" class="form-control" formControlName="enddate" #enddate />
        </div>
          <div class="form-group">
            <button (click)="addProject(name.value, desc.value, startdate.value, enddate.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
          </div>
      </form>
    </div>
  </div>
